<body id="HomePage">
  <div>
    <table class="recipeform" style="width:90%; margin-left: auto; margin-right: auto; border-radius: 10px">
      <col width="40%">
      <col width="60%">
      <caption>Recipe List</caption>
      <tr>
        <th colspan="2">Title</th>
      </tr>

      <tr>
        <td colspan="2">
          <%= result.Items[0].title %>
        </td>
      </tr>

      <tr>
        <th colspan="2">Image</th>
      </tr>

      <tr>
        <td colspan="2">
          <% if(result.Items[0].img) { %>
            <img src="<%= result.Items[0].img %>" />
            <% } %>
        </td>
      </tr>

      <tr>
        <th colspan="2">Introduction:</th>
      </tr>

      <tr>
        <td colspan="2">
          <%= result.Items[0].introduction %>
        </td>
      </tr>

      <tr>
        <th>Level</th>
        <th>Yield</th>
      </tr>

      <tr>
        <td>
          <%= result.Items[0].level %>
        </td>
        <td>
          <%= result.Items[0].yield %>
        </td>
      </tr>

      <tr>
        <th>Ingredient</th>
        <th>Direction</th>
      </tr>

      <tr>
        <th><label id="ingr_label"></label></th>
        <th><label id="dir_label"></label></th>
      </tr>
    </table>
  </div>
</body>


<div id="footer">
  <footer>
    <ul>
      <li>Click <a href="#top"><img src="https://png.icons8.com/north-direction/office/25" title="Go Top" ></a> to see the top
        of this page</li>
      <li>Please contact <a href="mailto:s3510520@student.rmit.edu.au.com">Yan</a> for more deatils</li>
    </ul>
  </footer>
</div>

<script>
  document.getElementById("ingr_label").innerHTML = ingredientStringToArray(`<%= result.Items[0].ingredients %>`);
  document.getElementById("dir_label").innerHTML = directionStringToArray(`<%= result.Items[0].direction %>`);

</script>
